.beg, .center{
    display:flex;
    justify-content:center;
    color:white;
}
#book,#movie,#character,#char,.big{
    display:flex;
    justify-content:center;
}
.charimg{
    width:75px;
    height:100px;
}
body{
    background-image:url("superback.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
